body, code, pre {
   background-color: #1E293B;
   color: #f4f4f4;
}

nav.navbar {
   background-color: #23384E !important;
}

.card-post, .post-list, .artikel,
.bg-darkmode {
   background: #334155 !important;
   color: #f4f4f4 !important;
}

h1, h2, h3, h4, h5, h6, p,
.font-link > a,
small > a,
div.card-body {
   color: #f4f4f4 !important;
}

.font-link > a:hover {
   color: #0FCCCE !important;
}

img {
filter: opacity(75%);
}
