body {
  background: #f4f4f4;
  color: #2C3333;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
}
.about {
  text-align: justify;
}
.btn-contact {
  background: #00B6BA;
  color: #fff;
  border-radius: 15px 45px;
  box-sizing: border-box;;
  box-shadow: 7px 7px #cdfeff;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.btn-contact:hover {
  background: orange;
  color: #fff;
  box-shadow: 7px 7px #ffdc9d;
}
.artikel {
  text-align: justify;
  background: #fff;
  border: 2px solid #00B6BA;
  border-radius : 6px;
  box-sizing: border-box;
  box-shadow: 7px 7px #cdfeff;
}

.card-post {
  background: #fff;
  padding: 10px 16px;
}
.font-title {
  font-family: 'Garlic', Quicksand, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.font-link {
  font-family: 'SourceSansPro', Quicksand, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #02CBBE;
}
.card-link {
  color: #09A4A8;
}

.card-title {
   font-family: 'OriginTech', Quicksand, sans-serif;
   font-weight: 500;
   font-size: 20px;
}
.box {
  max-width: 250px;
  position: relative;
  background: linear-gradient(45deg, #02CBBE, #FFC600);
  padding: 3px;
  border-radius: 6px;
}
.card-box {
  max-width: 100%;
  position: relative;
  background: linear-gradient(90deg, #02CBBE, #000);
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.linear-gradient {
  background: #fff;
  padding: 8px;
  border-radius: 6px;
}

// Hover full color
a:link {
   color: #02CBBE;
   text-decoration: none;
   background-position-y: -0%;
   background-image: linear-gradient(white 50%, gold 50%);
   transition: background 500ms ease;
   background-size: 2px;
   background-size: auto 175%;
}

a:hover {
   background-position-y: 100%;
   color: orange;
}

abbr { 
  display: inline;
  color: #23384e;
} 
/* <-- FOOTER STYLE --> */
footer {
   background: #fff;
   color: #00B6BA;
   font-size: 11px;
   text-align: center;
}
footer > a {
   color: orange;
}
footer > a:hover {
   color: green;
}
/* <-- COLOR HIGHLIGHT --> */
.highlight >  pre {
   padding: 5px 20px 5px 20px;
   border-radius: 5px;
}

img {
  loading: lazy;
}

mark {
   background: #D9EDF7;
   color: #143250;
   border: 1px solid #BCE8F1;
   border-radius: 4px;
   padding: 1px 3px;
   font-style: italic;
   font-size: small;
}

.tags {
   background: #D9EDF7;
   color: #143250;
   border: 1px solid #BCE8F1;
   border-radius: 4px;
   padding: 1px 3px;
   font-size: small;
}

/* <--- NAVBAR BEGIN ---> */
nav.navbar {
  color: #00B6BA;
  padding: 4px 1px;
}
.navbar-brand {
  font-family: 'Rochester', UrbanJungle, cursive;
  letter-spacing: 1.3px;
  font-size: 20px;
  font-weight: 500;
}
.navbar-brand:hover {
  font-family: 'Garlic', cursive;
}
.navbar-brand > span {
/*  background: -webkit-linear-gradient(#00C6BE, #02CBBE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
*/
   color: #00C6BE;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  text-indent: 3px;
  font-weight: 600;
  font-size: 14px;
  color: #0FCCCE;
  text-transform: capitalize;
  word-spacing: 4px;
  line-height: 1.2;
  border-top: 1px dotted lightgrey;
}
.nav-link:hover,
.nav-link:active {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: orange;

}
.dropdown-menu {
  margin-bottom: 8px;
}
.dropdown-item {
  font-family: 'Quicksand', sans-serif;
  color: #0FCCCE;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  word-spacing: 4px;
  line-height: 1;
  text-indent: 5px;
}
.dropdown-item:hover {
  color: orange;
  background: #fff;
}
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
/*    background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% ); */
    background: linear-gradient( to right, #0FCCCE, #fff);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient( 263deg, #0FCCCE, #00C6BE);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* <--- NAVBAR END ---> */
