body {
  background: #F2F4F7;
  font-family: 'OpenSans', Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}

article {
  text-align: justify;
}
.card-title {
   font-family: 'Garlic', Quicksand, sans-serif;
   font-weight: 500;
   font-size: 20px;
}
.box {
  max-width: 250px;
  position: relative;
  background: linear-gradient(45deg, #02CBBE, #FFC600);
  padding: 3px;
  border-radius: 6px;
}
.card-box {
  max-width: 100%;
  position: relative;
  background: linear-gradient(90deg, #02CBBE, #FFC600);
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.linear-gradient {
  background: #fff;
  padding: 8px;
  border-radius: 6px;
}


abbr { 
  display: inline;
  color: #23384e;
} 

footer {
   font-size: 10px;
   text-align: center;
}
footer > a {
   color: #02CBBE;
}
footer > a:hover {
   color: orange;
}
img {
  loading: lazy;
}

mark {
   background: #D9EDF7;
   color: #143250;
   border: 1px solid #BCE8F1;
   border-radius: 4px;
   padding: 1px 3px;
   font-style: italic;
   font-size: small;
}

.tags {
   background: #D9EDF7;
   color: #143250;
   border: 1px solid #BCE8F1;
   border-radius: 4px;
   padding: 1px 3px;
   font-size: small;
}

/* <--- NAVBAR BEGIN ---> */
nav.navbar {
  background: #23384E;
  color: #fff;
  border-bottom: 3px solid #02CBBE;
  padding: 2px;
}

.navbar-brand {
  font-family: 'UrbanJungle', Brightness, Sacramento, cursive;
  letter-spacing: 2.5px;
  font-size: 23px;
  font-weight: normal;
}
.navbar-brand:hover {
  font-family: 'BrightnessBook', UrbanJungle, Sacramento, cursive;
  color: #02CBBE;
}
.navbar-brand > img {
  width: 30px;
  weight: 30px;
}
.navbar-brand > span {
  background: -webkit-linear-gradient(#02CBBE, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  text-indent: 2px;
  font-weight: 600;
  color: #02CBBE;
}
.nav-link:hover {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #fff;
}

.nav-link:visited, .nav-link:active {
  font-family: 'Quicksand', sans-serif;
  text-indent: 6px;
  font-weight: 600;
  color: #yellow;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
/*    background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% ); */
    background: linear-gradient( to bottom, #02CBBE, #fff);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient( 263deg, #02CBBE, #fff);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* <--- NAVBAR END ---> */
