{{ define "main" }}

<div class="container py-4">

<div class="card text-center card-singlepost fade-in p-2">
  <img src="/avatar/developer.gif" class="card-img-top mx-auto" alt="surur" style="width: 60%; height: auto;">
  <div class="card-body pt-0">
    <h2 class="font-title text-Capitalize" style="font-family: 'Misa', Sacramento, Cursive ;">{{.Site.Params.author}}</h2>
    <p class="card-text">"{{.Site.Params.description}}"</p><hr>
    <div class="d-flex justify-content-evenly"><a href="https://wa.me/6281299887212" class="card-singlepost p-2 fw-bold">WhatsApp</a>
    <a href="https://t.me/Surur_me" class="card-singlepost p-2 fw-bold">Telegram</a>
    <a href="mailto:miftah@surur.id@gmail.com" class="card-singlepost p-2 fw-bold">Email</a></div>
  </div>
</div>

</div>
{{ end }}
