{{ define "main" }}
<section class="post-list">
  <h2 id="title">{{ .Title }}</h2>
  {{ range .Pages }}
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-group">
            <div class="card">
              <img src="{{ .Params.cover.image }}" class="card-img-top" alt="{{ .Params.cover.title }}">
                <div class="card-body">
                  <a href="{{ .Permalink }}" class="card-title">{{ .Title }}</a>
                  <p class="card-text">{{ .Description }}</p>
                  <p class="card-text">
                    <small class="text-muted">{{ .Params.author }}<br/> 
                    {{ .Date.Format "Mon, 02 Jan 2006" }}</small>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</section>
{{ end }}
