{{ define "main" }}
<main id="main">
  <div>
  <h1 id="title">{{ .Title }}</h1>
  {{ range .Pages }}
  <div class="container">
   <div class="row">
    <div class="col-lg-4">
    <div class="card-group">
      <div class="card">
      <img src="{{ .Params.cover }}" class="card-img-top" alt="cover">
       <div class="card-body">
        <a href="{{ .Permalink }}" class="card-title">{{ .Title }}</a>
        <p class="card-text">{{ .Description }}</p>
        <p class="card-text"><small class="text-muted">{{ .Params.author }}<br/> 
        {{ .Date.Format
 "Mon, 02 Jan 2006" }}</small></p>
      </div>
      </div>
     </div>
  </div>
  </div>
  </div>
  {{ end }}
  </div>
</main>
{{ end }}
