<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap CSS -->
    <link rel="preload" href="/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="/css/bootstrap.min.css" rel="stylesheet"></noscript>
    <!-- Bootstrap Icons CSS -->
    <link href="/icons/bootstrap-icons-min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/link-effect.css"/>
    <link rel="stylesheet" href="/css/animation.css"/>

    <title>Jejak Digital</title>
</head>
