<nav class="navbar sticky-top navbar-expand-lg shadow-lg">
<div class="container">
    <a class="navbar-brand" href="/" class="d-inline-block">
<img src="/avatar/owl.png" alt="jejak"  style="width: 26px; height: 26px;"><span class="align-text-top"> Jejak Digital</span></a>
<span class="ms-auto pe-2 align-text-center"><a id="dark-mode-toggle" class="bi bi-sun" style="color: #02CBBE; border: 1.5px solid #0FCCCE; border-radius: 50px; padding:2px 4px; font-size: 13px"></a></span>
    <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
          <i class="bi-house-heart-fill"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">
          <i class="bi bi-globe"></i> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quote">
          <i class="bi bi-chat-square-quote"></i> Quote</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/private">
          <i class="bi bi-shield-check"></i> Privacy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/demak">
          <i class="bi bi-emoji-heart-eyes"></i> Family</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
