<div class="container py-3">

<div class="card-box fade-in">
  <div class="linear-gradient">
  <h5 class="text-center">{{ .Title }}</h5>
  <ul>
    {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ .Params.tags }}
        </li>
    {{ end }}
  </ul>
    <div class="text-center">
    <figure>
      <img src="{{ or .Params.cover.image .Params.cover.placeholder }}" class="img-fluid rounded lazyload" style="object-fit: cover; width:
100%; height: 160px;">
      <figcaption><small class="fst-italic">Photo by {{.Params.cover.sourceImage}}</small></figaption>
    </figure>
    </div>
      <article id="content" style="text-align: justify">
         {{ .Content }}
      </article>
      <small><i class="bi bi-calendar2-check"></i> &nbsp; Publish on <em>{{ .Date.Format "January 02, 2006" }}</em><br>
   <i class="bi bi-calendar2-plus"></i> &nbsp; Last Modified: <em>{{ .Lastmod.Format "January 02, 2006" }} </em></small>
  </div>
</div>

</div>
