<div class="container py-3">

<div class="card-box fade-in">
  <div class="linear-gradient">

  <div class="row py-2 my-2">

{{ range where .Site.RegularPages "Section" "blog" }}
    <div class="col-5 pb-2">
      <img src="{{ .Params.cover.image }}"   class="img-fluid" alt="{{ .Params.cover.title }}" style="width: 100%; height: 80px; border-radius: 4px">
    </div>

    <div class="col-7 align-text-top">
    <p class="inside-out">
    <a href="{{ .Permalink }}" class="fw-bolder inside-out">{{ or .Params.cover.seo .Title }}</a></p>
     <p><small class="text-muted">{{ .Params.author }} /
     {{ .Lastmod.Format "Jan 02, 2006" }}</small>
     </p>
    </div>
{{ end }}
  </div>
</div>

</div>
</div>
